@use "./typography" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  scroll-behavior: smooth;
}

body {
  background-color: $secondary-color;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
}
