@use "sass:map";
@use "./variables" as *;

$font-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  "2xl": 1.5rem,
) !default;

@function font-size($size) {
  @return map.get($font-sizes, $size);
}
