.hero {
  position: relative;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;
    background: rgba(white, 0.8);
    padding: 1rem;
    border-radius: 1rem;

    h1 {
      font-size: x-large;
      color: $primary-color;
      animation: pop-in 0.6s ease;
    }
    h2 {
      font-size: xx-large;
      margin: 0.5rem;
      color: $primary-color;
      animation: pop-in 0.6s ease;
    }
    .sub {
      font-size: font-size("sm");
      color: gray;
      margin-bottom: 1rem;
    }
    .cta {
      @include respond-to(md) {
        padding: 0.75rem 1.5rem;
      }
      padding: 0.5rem;
      background: $primary-color;
      color: white;
      text-decoration: none;
      border-radius: 1rem;
      font-size: font-size("base");
      transition: background 0.3s ease;
      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}

// pop-in keyframes
@keyframes pop-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
